@charset "UTF-8";

/* Base */
.MixerUI-base {
  width: 700px;
  background-color: hsl(0, 0%, 10%);
  min-height: 3em;

  font-size: 24px;
  font-family: sans-serif;
}
.MixerUI-base:empty {
  /* For viewing in center */
  display: flex;
  justify-content: center;
  align-items: center;
}
.MixerUI-base:empty::before {
  display: block;
  content: "No lanes available";
  color: hsl(0, 0%, 70%);
  font-style: italic;
}


/* Container */
.MixerUI-container {
  display: grid;
  grid-template-columns: calc(20px + 4rem) 1fr;
  grid-template-rows: 2em 2em;
  column-gap: 20px;
  row-gap: 20px;

  border-top: 2px solid hsl(0, 0%, 70%);
}
.MixerUI-container:last-child {
  border-bottom: 2px solid hsl(0, 0%, 70%);
}
.MixerUI-container:has(.MixerUI-lane-fader-input:focus) {
  background-color: hsl(0, 0%, 20%);
}


/* Lane name */
.MixerUI-lane-name {
  grid-column: 1;
  grid-row: 1 / span 2;
  margin-left: 20px;
  align-self: center;

  text-align: center;
  color: hsl(0, 0%, 90%);
}


/* Fader */
.MixerUI-lane-fader {
  grid-column: 2;
  grid-row: 1;
  margin-right: 20px;
  align-self: end;
}

.MixerUI-lane-fader-input {
  width: 100%;
  height: 100%;
  margin: 0;
  outline: none;
}


/* Meter */
.MixerUI-lane-meter {
  grid-column: 2;
  grid-row: 2;
  margin-right: 20px;
  align-self: start;

  height: 0.51em;
  background-color: hsl(0, 0%, 70%);
}

.MixerUI-lane-meter-value {
  width: 0%;
  height: 100%;
  margin: 0;
  background-color: hsl(0, 80%, 50%);
}
